---
import BaseHead, { Props as BaseHeadProps } from "@components/BaseHead.astro"

interface Props extends Exclude<BaseHeadProps, "title"> {
	title?: string
}

const { ...attrs } = Astro.props as Props
---

<html lang="en">
	<head>
		<BaseHead {...attrs} />
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
